*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #FFFFFF;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.bold_text {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.gray_text {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.gray_bg {
  background: #F6F6F6;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .header {
  margin-bottom: 104px;
  padding-top: 32px;
}
.wrapper .header .nav {
  display: flex;
  justify-content: space-between;
}
.wrapper .header .nav__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.wrapper .header .nav__link:hover {
  color: #070707;
}
.wrapper .header__line {
  margin-top: 32px;
  margin-bottom: 40px;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.wrapper .header__welcome {
  min-height: 575px;
  background-image: url(../img/denis_novik.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-position-y: bottom;
  background-size: 960px;
}
.wrapper .header__welcome .denis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .header__welcome .denis .denis_novik {
  max-width: 123px;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
}
.wrapper .header__welcome .denis .personal_info {
  max-width: 156px;
}
.wrapper .header__welcome .denis .vertical_text {
  transform: rotate(-90deg) translateY(30px);
}
.wrapper .header__welcome .denis .lang {
  display: inline;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
.wrapper .header__welcome .denis .lang:hover {
  color: #070707;
}
.wrapper .content {
  flex: 1 1 auto;
}
.wrapper .content .about_me {
  align-items: center;
  padding-top: 120px;
  padding-bottom: 85px;
}
.wrapper .content .about_me .about_heading {
  margin-bottom: 18px;
}
.wrapper .content .about_me .about_text {
  margin-bottom: 24px;
  text-align: center;
}
.wrapper .content .skills {
  align-items: center;
  padding-top: 91px;
  padding-bottom: 110px;
}
.wrapper .content .skills .skills_heading {
  margin-bottom: 69px;
}
.wrapper .content .skills .skills_list {
  display: flex;
  justify-content: space-between;
  align-self: normal;
  margin-top: 87px;
}
.wrapper .content .skills .skills_list .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .content .skills .skills_list .skill .skill_img {
  margin-bottom: 28px;
}
.wrapper .content .skills .skills_list .skill .stars {
  margin-top: 40px;
}
.wrapper .content .skills .skills_list .skill .stars .fa-gray {
  color: #e5e5e5;
}
.wrapper .content .portfolio {
  padding-top: 112px;
}
.wrapper .content .portfolio .portfolio_heading {
  margin-bottom: 47px;
}
.wrapper .content .portfolio .project {
  margin-bottom: 96px;
}
.wrapper .content .portfolio .project__link {
  margin-bottom: 44px;
}
.wrapper .content .portfolio .project__link__img {
  width: 100%;
}
.wrapper .content .portfolio .project__text {
  text-decoration-line: underline;
}
.wrapper .footer {
  padding-top: 114px;
  padding-bottom: 123px;
}
.wrapper .footer__heading {
  margin-bottom: 20px;
}
.wrapper .footer__text {
  max-width: 276px;
  margin-bottom: 42px;
}
.wrapper .footer__button {
  margin-bottom: 80px;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #070707;
}
.wrapper .footer .contacts_list {
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.wrapper .footer .contacts_list .contact {
  margin: 0 30px;
}
.wrapper .footer__bottom_text {
  max-width: 243px;
}

@media (max-width: 667px) {
  .container {
    padding: 0 29px;
  }
  .nav {
    display: none;
  }
  .header__line {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */