// NULLING STYLES
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    background: #FFFFFF;
}

// 
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.bold_text {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.gray_text {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.gray_bg {
    background: #F6F6F6;
}

.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

// HEADER
.header {
    margin-bottom: 104px;
    padding-top: 32px;

    .nav {
        display: flex;
        justify-content: space-between;

        &__link {
            font-size: 18px;
            line-height: 22px;
            color: #828282;
        }

        &__link:hover {
            color: #070707;
        }
    }

    &__line {
        margin-top: 32px;
        margin-bottom: 40px;

        border: 1px solid #828282;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    &__welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .person {
            max-width: 123px;
            font-weight: 700;
            font-size: 47px;
            line-height: 59px;
        }

        .personal_info {
            max-width: 156px;
        }

        .vertical_text {
            transform: rotate(-90deg) translateY(30px);
        }

        .lang {
            display: inline;
            font-size: 16px;
            line-height: 20px;
            color: #828282;
        }

        .lang:hover {
            color: #070707;
        }
    }

    &__photo {
        height: 392px;

        background-image: url(../img/denis_novik.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-position-y: bottom;
        background-size: 960px;
    }
}

// CONTENT
.content {
    flex: 1 1 auto;
}

.about_me {
    align-items: center;
    padding-top: 120px;
    padding-bottom: 85px;

    .about_heading {
        margin-bottom: 18px;
    }

    .about_text {        
        margin-bottom: 24px;
        text-align: center;
    }
}

.skills {
    align-items: center;
    padding-top: 91px;
    padding-bottom: 110px;

    &__heading {
        margin-bottom: 69px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-self: normal;
        margin-top: 87px;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        margin-bottom: 28px;
    }

    &__stars {
        margin-top: 40px;

        .fa-gray {
            color: #e5e5e5;
        }
    }
}

.portfolio {
    padding-top: 112px;

    &__heading {
        margin-bottom: 47px;
    }
}

.project {
    margin-bottom: 96px;

    &__link {
        margin-bottom: 45px;

        &__img {
            width: 100%;
        }
    }

    &__text {
        text-decoration-line: underline;
    }
}

// FOOTER
.footer {
    padding-top: 114px;
    padding-bottom: 123px;

    &__heading {
        margin-bottom: 20px;
    }

    &__button {
        width: 276px;
        margin-top: 30px;
        margin-bottom: 91px;
        padding: 12px 28px;
        border-radius: 30px;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: #070707;

    }

    .contacts_list {
        width: 342px;
        margin-bottom: 45px;
        display: flex;
        justify-content: space-between;

        .contact {
            // margin: 0 30px;
        }
    }

    &__bottom_text {
        max-width: 243px;
    }
}

// MEDIA PHONE 667px

@media (max-width: 667px) {
    .container {
        padding: 0 29px;
    }

    // HEADER
    .header {
        padding-top: 65px;
        margin-bottom: 83px;

        .nav {
            display: none;
        }

        &__line {
            display: none;
        }

        &__welcome {
            justify-content: start;
            flex-direction: column;
            align-items: start;
            margin-bottom: 36px;

            .person {
                margin-bottom: 23px;
            }


            .personal_info {
                text-align: left;
            }

            .vertical_text {
                display: none;
            }
        }

        &__photo {
            background-image: url(../img/denis_novik_mini.jpg);
            background-size: 100%;
            background-position: center top;
        }
    }

    // CONTENT
    .about_me {
        padding-top: 91px;
        padding-bottom: 76px;
    }

    .skills {
        padding-top: 83px;
        padding-bottom: 17px;

        &__list {
            justify-content: start;
            flex-direction: column;
            align-self: center;
            margin-top: 70px;
        }
    }

    .skill {
        margin-bottom: 81px;
    }

    .portfolio {
        padding-top: 82px;

        &__heading {
            margin-bottom: 65px;
        }
    }

    .project {
        margin-bottom: 80px;

        &__link {
            margin-bottom: 35px;
        }
    }

    // FOOTER
    .footer {
        padding-top: 82px;
        padding-bottom: 90px;

        &__button {
            width: 100%;
            margin-bottom: 60px;
        }

        &__bottom_text {
            font-size: 18px;
        }

        .contacts_list {
            width: 100%;
        }
    }
}