*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #FFFFFF;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.bold_text {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.gray_text {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.gray_bg {
  background: #F6F6F6;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 104px;
  padding-top: 32px;
}
.header__line {
  margin-top: 32px;
  margin-bottom: 40px;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.header__welcome__person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header__welcome__person__name {
  max-width: 123px;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
}
.header__welcome__person__info {
  max-width: 156px;
}
.header__photo {
  height: 392px;
  background-image: url(../img/denis_novik.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-position-y: bottom;
  background-size: 960px;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.nav__menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.nav__menu__link:hover {
  color: #070707;
}
.nav__right_place {
  display: none;
}

.close {
  align-self: end;
}

.vertical_text {
  transform: rotate(-90deg) translateY(30px);
}

.lang {
  display: inline;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

.black_lang {
  color: #000000;
}

.burger {
  display: none;
  width: 33px;
  height: 19.19px;
}
.burger__line {
  height: 3.84px;
  background-color: #000000;
}

.content {
  flex: 1 1 auto;
}

.about {
  align-items: center;
  padding-top: 120px;
  padding-bottom: 85px;
}
.about__heading {
  margin-bottom: 18px;
}
.about__text {
  margin-bottom: 24px;
  text-align: center;
}

.skills {
  align-items: center;
  padding-top: 91px;
  padding-bottom: 110px;
}
.skills__heading {
  margin-bottom: 69px;
}
.skills__list {
  display: flex;
  justify-content: space-between;
  align-self: normal;
  margin-top: 87px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill__img {
  margin-bottom: 28px;
}
.skill__stars {
  margin-top: 40px;
}

.fa-gray {
  color: #e5e5e5;
}

.portfolio {
  padding-top: 112px;
}
.portfolio__heading {
  margin-bottom: 47px;
}

.project {
  margin-bottom: 96px;
}
.project__link {
  margin-bottom: 45px;
}
.project__link__img {
  width: 100%;
}
.project__text {
  text-decoration-line: underline;
}

.footer {
  padding-top: 114px;
  padding-bottom: 123px;
}
.footer__heading {
  margin-bottom: 20px;
}
.footer__button {
  width: 276px;
  margin-top: 30px;
  margin-bottom: 91px;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #070707;
}
.footer__bottom_text {
  max-width: 243px;
}

.contacts_list {
  width: 342px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 667px) {
  .container {
    max-width: 667px;
    padding: 0 29px;
  }
  .header {
    padding-top: 65px;
    margin-bottom: 83px;
  }
  .header__line {
    display: none;
  }
  .header__welcome {
    display: flex;
    justify-content: space-between;
  }
  .header__welcome__person {
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin-bottom: 36px;
  }
  .header__welcome__person__name {
    margin-bottom: 23px;
  }
  .header__welcome__person__info {
    text-align: left;
  }
  .header__photo {
    background-image: url(../img/denis_novik_mini.jpg);
    background-size: 100%;
    background-position: center top;
  }
  .nav {
    height: 812px;
    display: flex;
    position: absolute;
    transform: translateY(-812px);
    background-color: #ffffff;
  }
  .nav__menu {
    justify-content: start;
    flex-direction: column;
  }
  .nav__menu__item {
    margin-bottom: 68px;
  }
  .nav__menu__link {
    font-size: 34px;
    line-height: 42px;
  }
  .nav__right_place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav__right_place .vertical_text {
    transform: rotate(90deg) translate(-62px, -72px);
  }
  .lang {
    font-size: 34px;
    line-height: 42px;
  }
  .header__welcome__person .vertical_text {
    display: none;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about {
    padding-top: 91px;
    padding-bottom: 76px;
  }
  .skills {
    padding-top: 83px;
    padding-bottom: 17px;
  }
  .skills__list {
    justify-content: start;
    flex-direction: column;
    align-self: center;
    margin-top: 70px;
  }
  .skill {
    margin-bottom: 81px;
  }
  .portfolio {
    padding-top: 82px;
  }
  .portfolio__heading {
    margin-bottom: 65px;
  }
  .project {
    margin-bottom: 80px;
  }
  .project__link {
    margin-bottom: 35px;
  }
  .footer {
    padding-top: 82px;
    padding-bottom: 90px;
  }
  .footer__button {
    width: 100%;
    margin-bottom: 60px;
  }
  .footer__bottom_text {
    font-size: 18px;
  }
  .contacts_list {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */