*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    background: #FFFFFF;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: content-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.bold_text {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.gray_text {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.gray_bg {
    background: #F6F6F6;
}

.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;

    // HEADER
    .header {
        margin-bottom: 104px;
        padding-top: 32px;

        .nav {
            display: flex;
            justify-content: space-between;

            &__link {
                font-size: 18px;
                line-height: 22px;
                color: #828282;
            }

            &__link:hover {
                color: #070707;
            }
        }

        &__line {
            margin-top: 32px;
            margin-bottom: 40px;

            border: 1px solid #828282;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        &__welcome {
            min-height: 575px;
            background-image: url(../img/denis_novik.jpg);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-position-y: bottom;
            background-size: 960px;

            .denis {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .denis_novik {
                    max-width: 123px;
                    font-weight: 700;
                    font-size: 47px;
                    line-height: 59px;
                }

                .personal_info {
                    max-width: 156px;
                }

                .vertical_text {
                    transform: rotate(-90deg) translateY(30px);
                }

                .lang {
                    display: inline;
                    font-size: 16px;
                    line-height: 20px;
                    color: #828282;
                }

                .lang:hover {
                    color: #070707;
                }
            }
        }
    }

    // CONTENT
    .content {
        flex: 1 1 auto;

        .about_me {
            align-items: center;
            padding-top: 120px;
            padding-bottom: 85px;

            .about_heading {
                margin-bottom: 18px;
            }

            .about_text {
                // max-width: 486px;
                margin-bottom: 24px;
                text-align: center;
            }
        }

        .skills {
            align-items: center;
            padding-top: 91px;
            padding-bottom: 110px;

            .skills_heading {
                margin-bottom: 69px;
            }

            .skills_list {
                display: flex;
                justify-content: space-between;
                align-self: normal;
                margin-top: 87px;

                .skill {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .skill_img {
                        margin-bottom: 28px;
                    }

                    .stars {
                        margin-top: 40px;

                        .fa-gray {
                            color: #e5e5e5;
                        }
                    }
                }
            }
        }

        .portfolio {
            padding-top: 112px;

            .portfolio_heading {
                margin-bottom: 47px;
            }

            .project {
                margin-bottom: 96px;

                &__img {
                    margin-bottom: 44px;
                }

                &__text {
                    text-decoration-line: underline;
                }
            }
        }
    }

    // FOOTER
    .footer {
        padding-top: 114px;
        padding-bottom: 123px;

        &__heading {
            margin-bottom: 20px;
        }

        &__text {
            max-width: 276px;
            margin-bottom: 42px;
        }

        &__button {
            margin-bottom: 80px;
            padding: 12px 28px;
            border-radius: 30px;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            background: #070707;
        }

        .contacts_list {
            margin-bottom: 45px;
            display: flex;
            justify-content: space-between;

            .contact {
                margin: 0 30px;
            }
        }

        &__bottom_text {
            max-width: 243px;
        }
    }
}