*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #FFFFFF;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.bold_text {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.gray_bg {
  background: #F6F6F6;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .header {
  margin-bottom: 104px;
  padding-top: 32px;
}
.wrapper .header .nav {
  display: flex;
  justify-content: space-between;
}
.wrapper .header .nav__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.wrapper .header .nav__link:hover {
  color: #070707;
}
.wrapper .header__line {
  margin-top: 32px;
  margin-bottom: 40px;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.wrapper .header__welcome {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 575px;
  background-image: url(img/denis_novik.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
}
.wrapper .header__welcome .denis_novik {
  max-width: 123px;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
}
.wrapper .header__welcome .personal_info {
  max-width: 156px;
}
.wrapper .header__welcome .vertical_text {
  transform: rotate(-90deg);
}
.wrapper .header__welcome .lang {
  display: inline;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
.wrapper .header__welcome .lang:hover {
  color: #070707;
}
.wrapper .content {
  flex: 1 1 auto;
}
.wrapper .content .about_me {
  align-items: center;
  padding-top: 120px;
  padding-bottom: 107px;
}
.wrapper .content .about_me .about_heading {
  margin-bottom: 18px;
}
.wrapper .content .about_me .about_text {
  max-width: 486px;
  text-align: center;
}
.wrapper .content .skills {
  align-items: center;
  padding-top: 91px;
  padding-bottom: 110px;
}
.wrapper .content .skills .skills_heading {
  margin-bottom: 69px;
}
.wrapper .content .skills .skills_list {
  display: flex;
  justify-content: space-between;
  align-self: normal;
  margin-top: 87px;
}
.wrapper .content .skills .skills_list .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .content .skills .skills_list .skill .skill_img {
  margin-bottom: 28px;
}
.wrapper .content .skills .skills_list .skill .skill_text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.wrapper .content .portfolio {
  padding-top: 112px;
}
.wrapper .content .portfolio .portfolio_heading {
  margin-bottom: 47px;
}
.wrapper .content .portfolio .project {
  margin-bottom: 96px;
}
.wrapper .content .portfolio .project__img {
  margin-bottom: 44px;
}
.wrapper .content .portfolio .project__text {
  text-decoration-line: underline;
}
.wrapper .footer {
  height: 200px;
  background-color: red;
}/*# sourceMappingURL=style.css.map */